# Web Framework & Server
fastapi==0.110.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
sqlacodegen
httpx

# Data Processing (High Performance)
polars
fastexcel
pyarrow==23.0.1
xlsx2csv
adbc-driver-postgresql
pandas

# Task Queue & Broker
celery==5.3.6
redis==5.0.3
minio

# Database & ORM
sqlalchemy>=2.0.29
psycopg2-binary>=2.9.9
shortuuid
alembic

# Security & Authentication (JWT)
python-jose[cryptography]==3.3.0
bcrypt
pyjwt

# Environment & Utilities
python-dotenv==1.0.1
pydantic-settings